/*==========tabs modal window styles=============*/

.tabs__content {
	display: none;
}
.tabs__content li {
	cursor:pointer;
}
.tabs__content.active {
	display: block;
}
.tabs {
	display: flex;
	align-items: baseline;
}
#window-modal-wrap .tb-close-icon, #window-edit-modal-wrap .tb-close-icon{
	margin: 9px !important;
}
.close-window-modal{
	display: block;
	float: right;
	height: 30px;
	width: 30px;
	border: none;
	background: #f1f1f1;
	cursor: pointer;
	margin: 9px;
}
.close-window-modal:hover .tb-close-icon{
	color:#0085ba;
	transition: ease all 0.5s
}

.window-modal-bg, .window-edit-modal-bg{
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	position: fixed;
	z-index: 100;
	background: #0000008c;
	height: 100%;
	display: none;
	z-index: 9999;
}

#window-modal-wrap, #window-edit-modal-wrap {
	max-width: 800px;
	margin: 0 auto;
	z-index: 101;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	display: none;
	max-height: 547px;
	overflow: hidden;
}

.hm-window{
	max-width: 800px;
	min-height: 547px;
	margin: 0 auto;
	background: whitesmoke;
	font-family: "Segoe ui", sans-serif;
}
.hm-window h3 {
	padding: 15px;
    color: #0073aa;
    margin-bottom: 0px;
    margin-top: 0px;
    background: #f1f1f1;
}
.hm-window .tabs{
    max-width: 200px;
    width: 100%;
    list-style: none;
    height: 100%;
    display: block;
    padding-left: 0px;
    margin: 0px;
    background: #f1f1f1;
    height: 100%;
    min-height: 499px;
    border-right: 1px solid #d7d6d6;
}
.hm-window .tabs > span{
	display: block;
	padding: 5px 15px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	color: #b4b4b4;
	background: linear-gradient(#fafafa,#d7d2d26b);
	border-top: 1px solid #d7d6d6;
	border-bottom: 1px solid #d7d6d6;
}

.hm-window .tabs > li, .hm-window .tabs > a {
	padding: 15px;
	text-transform: uppercase;
	box-sizing: border-box;
}
.hm-window .tabs > li > a, .hm-window .tabs > a{
	font-size: 12px;
	text-decoration: none;
	color: #353535;
	display: block;
	font-weight: 600;
	outline: none !important;
}
.hm-window .tabs > li > a, .hm-window .tabs > a:focus{
	outline: none !important;
}
.hm-window .tabs > a{
	color: #0073aa;
}
.hm-window .tabs > a:hover{
	text-decoration: underline;
}
.hm-tabs-wrap{
	display: flex;
	min-height: 499px;
}
.hm-window .tab-container{
	padding:25px;
	width: 100%;
	border-top: 1px solid #d7d6d6;
	background: #f6fbfd;
}
.hm-window .tabs > li.active{
	background: #f6fbfd;
	position: relative;
    border-bottom:1px solid #d7d6d6;
	margin: 0 -1px;
}

.help-tab-content{
	margin-top: 15px;
}
.tab-help-buttons{
	position: absolute;
	right: 25px;
	bottom: 23px;
	z-index: 999;
}
.tab-help-buttons.delete{
	right: 85px;
}
.hm-window .control-buttons{
	max-width: 180px;
	float: right;
}
.hm-window .control-buttons input{
	margin-left: 10px;
}
.hm-window #form-for-tab > input[type='text'], .hm-window #form-for-tab-exist > input[type='text']{
	width:100%;
	padding: 7px;
	box-sizing: border-box;
	margin-bottom: 25px;
}
.mce-edit-area{
	min-height: 240px;
}
#tab-link-hidden_tab{
	display:none;
}
#tab-panel-hidden_tab{
	text-align: center;
}
#tab-panel-hidden_tab > p {
    font-weight: 600;
    margin-bottom: 0px;
    color: #868484;
}
#tab-panel-hidden_tab > p > span {
    color: silver;
}
#tab-panel-hidden_tab{
	margin-top: 15px;
}
#tab-panel-hidden_tab > span{
	width:50px;
	height:50px;
	background: url("../images/no-tabs.png") no-repeat;
	display: block;
	margin: 0 auto;
	background-size: 50px;
}
#contextual-help-wrap, .contextual-help-tabs-wrap{
	min-height: 145px;
	position: relative;
}

/*==========tabs modal window styles=============*/

.to-publish{
	background:#cd5935;
	margin: 0px;
	padding: 5px 10px;
	color:white;
	margin-right: 20px;
}
.to-publish a, .to-unpublish a {
	color: white;
	letter-spacing: 1px;
	margin-left: 5px;
}
.to-unpublish{
	/*background:#00800091;*/
	background: #2c792c9c;
	margin: 0px;
	padding: 5px 10px;
	color:white;
	margin-right: 20px;
}
.to-publish svg{
	width: 33px;
	height: 19px;
	padding-bottom: 0;
	margin-bottom: 0;
	vertical-align: bottom;
	fill: white;
	margin-right: 10px;
}
.to-unpublish svg{
	width: 33px;
	height: 19px;
	padding-bottom: 0;
	margin-bottom: 0;
	vertical-align: bottom;
	fill: white;
	margin-right: 10px;
}